ul {
    padding:0;
    margin: 0;
    list-style: none;
}

$list-item-height: 100px;
$avatar-item-min-height: 160px;
$border-color: #ccc;

.file-uploader {
    * {
        box-sizing: border-box;
    }

    .file-uploader-items {
        display: inline-block;
        vertical-align: top;

        .file-uploader-item {
            text-align: center;
            padding: 5px;
            position: relative;
            border: 1px solid $border-color;

            img {
                max-height: 100%;
                max-width: 100%;
            }

            .file-uploader-delete {
                position: absolute;
                right: 0;
                height: 20px;
                width: 20px;
                line-height: 18px;
                top: 0;
                background: rgba(255, 67, 67, 0.75);
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: rgba(255, 67, 67, 0.95);
                }
            }
        }
    }

    .file-uploader-picker {
        text-align: center;
        cursor: pointer;
        color: #444;
        outline: none;
        display: block;
        user-select: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        vertical-align: middle;
        transition: all 0.2s ease-in-out;
        background: transparent;
        border: 1px solid $border-color;

        &:hover {
            border-color: darken($border-color, 20%);
            color: darken($border-color, 20%);
        }
    }

    .file-uploader-progress-bar {
        position: absolute;
        height: 8px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        span {
            display: block;
            width:0;
            height: 100%;
            background: #0074d9;
        }
    }

    .file-uploader-error {
        position: absolute;
        bottom: 0;
        font-size: 10px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 5px;
        background: rgba(255, 0, 0, 0.8);
        color: #fff;
    }
}

.file-uploader-images {
    .file-uploader-items {
        margin-left: -5px;
        margin-right: -5px;
    }
    .file-uploader-item {
        width: $list-item-height;
        height: $list-item-height;
        display: inline-block;
        vertical-align: top;
        margin: 5px;

        img {
            max-height: 100%;
        }
    }

    .file-uploader-picker {
        margin: 5px;
        display: inline-block;
        width: $list-item-height;
        height: $list-item-height;
        border-style: dashed;

        a {
            height: $list-item-height;
            font-size: 30px;
            padding-top: 25px;
        }
    }
}

.file-uploader-avatar {
    .file-uploader-item {
        margin: 0px;
        margin-bottom: 10px;
        min-height: $avatar-item-min-height;
    }

    .file-uploader-picker {
        margin-top: 5px;
        border: 1px solid $border-color;
        border-radius: 2px;
        line-height: 1.25;
        white-space: nowrap;
        color: #444;
    }
}

.file-uploader-image {
    .file-uploader-items {
        display: block;
    }
    .file-uploader-picker {
        margin-top: 5px;
        display: block;
        width: 100%;
    }
}

.file-uploader-file {
    .file-uploader-items {
        display: block;

        .file-uploader-item {
            min-width: 200px;
            padding: 20px 0;

            .file-uploader-item-actions {
                a {
                    padding: 0 10px;
                    text-decoration:none;
                }
            }
        }
    }
    .file-uploader-picker {
        margin-top: 5px;
        display: block;
        width: 100%;
    }
}